.add-option-error {
    color: $off-white;
    font-style: italic;
    padding: 0 $m-size;
    margin: $m-size 0 0 0;
}

.add-option {
    display: flex;
    padding: $m-size;
}

.add-option__input {
    flex-grow: 1;
    background: $dark-blue;
    color: $off-white;
    border: none;
    border-bottom: .3rem solid darken($color: $dark-blue, $amount: 10%);
    margin-right: $s-size;
    padding: $s-size;
}